{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
 <div>
    <h1>Software Estimator</h1>

    <br/>

    <a class="button-block" href="{{ path('question_index') }}"><button>Questions</button></a>
    <a class="button-block" href="{{ path('project_index') }}"><button>Estimations</button></a>

</div>
{% endblock %}
