{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
 <div>
    <h1>Software Estimator</h1>
     <h2>The cost of software</h2>

    <br/>

    <a class="btn btn-primary" href="{{ path('question_index') }}">Questions</a>
    <a class="btn btn-primary" href="{{ path('project_index') }}">Estimations</a>

</div>
{% endblock %}
